openapi: 3.0.4
info:
  title: TOTP Generator
  description: >-
    TOTP Generator creates time-based one-time passwords compatible with
    authenticator apps using standard TOTP algorithms.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/totpgenerator:
    post:
      summary: Generate TOTP Token
      description: Generate time-based one-time password
      operationId: totpgenerator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  token: '935324'
                  digits: 6
                  period: 30
                  timeRemaining: 25
                  expiresAt: '2025-12-16T22:31:00Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
                  description: Base32-encoded shared secret
                digits:
                  type: integer
                  description: Number of digits in token
                period:
                  type: integer
                  description: Time period in seconds
              required:
                - secret
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  secret: JBSWY3DPEHPK3PXP
  digits: 6
  period: 30
